$primary-color: #4caf50;
$secondary-color: #45a049;
$text-color: #333;
$background-color: #f4f4f4;
$hover-color: #f1f1f1;
$border-color: #ddd;
$font-size-base: 16px;
$font-size-large: 1.2em;
$font-size-title: 1.8em;

/* Stylizacja zarządzania grupą */
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: $primary-color;
  color: white;
  padding: 20px;
  text-align: center;

  .app-name {
    text-decoration: none;
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }
}

.content {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  p {
    font-size: $font-size-large;
    margin-bottom: 20px;
  }

  form {
    text-align: center;

    button {
      background-color: $primary-color;
      color: white;
      padding: 10px 20px;
      font-size: $font-size-large;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: $secondary-color;
      }
    }
  }
}

.footer {
  margin-top: auto;
  background-color: $primary-color;
  color: white;
  padding: 20px;
  text-align: center;

  p {
    margin: 0;
  }
}
