.xp-bar {
    position: relative;
    height: 10px;
    width: 200px;
    background: lighten($primary-color, 20%);
    border-radius: $border-radius;
    overflow: hidden;
    box-shadow: $box-shadow;
  
    .xp-fill {
      height: 100%;
      width: 50%; // Na razie przykładowa wartość
      background: $secondary-color;
      transition: width 0.3s ease-in-out;
    }
  }
  