// Zmienne kolorów
$primary-color: #4caf50;
$secondary-color: #45a049;
$text-color: #333;
$light-gray: #f9f9f9;
$hover-gray: #f1f1f1;
$border-color: #ddd;
$error-color: #e57373;
$success-color: #81c784;
$footer-color: #333;
$background-color: #f4f4f4;
$font-color: #fff;
$font-size-base: 1em;
$font-size-large: 1.2em;
$font-size-title: 1.8em;
